.ch-error {
  border: 1px solid red;
  padding: 10px;
}

#issues_list {
  margin-top: 50px;
}

.ch-selectable {
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 3px 5px;
  display: inline-block;
}

.ch-selected a {
  color: #fff;
}

.ch-selected {
  background: #4183c4;
  color: #fff;
}

.ch-white {
  color: #fff;
}

.ch-no-underline {
  text-decoration: none;
}

.ch-no-underline:hover {
  text-decoration: none;
}

.ch-menu {
  padding:10px 0;
}

.ch-menu li {
  list-style-type: none;
}

.issue-list-item {
  overflow: hidden;
}

.issue-list-item img {
  max-width: 75%;
}

.issue-list-item code {
  overflow: scroll;
  max-width: 100%;
  display: block;
  border: 1px solid #ddd;
  padding: 10px;
}


